/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-transparent {
    background-color: transparent;
  }
}

html {
    scroll-behavior: smooth;
}

.styled-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.styled-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
.styled-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(90, 89, 89); 
  border-radius: 10px;
  width: 5px;
}

/* Handle on hover */
.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background:rgb(148, 146, 146)
}


/* show tooltip on any element with tooltip attribute */
[tooltip], [tooltiptop], [tooltipright] {
  position: relative;
}

[tooltip]::before, [tooltiptop]::before {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  font-size: 15px;
  background-color: rgba(0, 0, 0, .8);
  width: max-content;
  color: white;
  padding: 1px 8px;
  border-radius: 6px;
  display: none;
}

[tooltip]::before {
  content: attr(tooltip);
  top: calc(100% + 8px);
}

[tooltiptop]::before {
  content: attr(tooltiptop);
  top: calc(-100% - 15px);
}

[tooltipright]::before {
  content: attr(tooltipright);
  position: absolute;
  top: calc(100% + 8px);
  right: 2px;
  opacity: 0;
  font-size: 15px;
  background-color: rgba(0, 0, 0, .8);
  width: max-content;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  display: none;
}



[tooltip]::after, [tooltiptop]::after, [tooltipright]::after {
  position: absolute;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 0);
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  display: none;
}

[tooltip]::after, [tooltipright]::after {
  top: calc(100% - 2px);
  border-top: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, .8);
}

[tooltiptop]::after {
  top: -5px;  
  border-bottom: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, .8);
}


[tooltip]:hover::before, [tooltip]:hover::after, [tooltiptop]:hover::before, [tooltiptop]:hover::after, [tooltipright]:hover::after {
  transform: translate(-50%, 0);
  opacity: 1;
  display: block;
}
[tooltipright]:hover::before {
  opacity: 1;
  display: block;
}

[tooltip]:hover::before, [tooltiptop]:hover::before, [tooltipright]:hover::before {
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, .5);
} 

/* spin 360 deg */
.spin-360 {
    transform: rotate(0deg);
    animation: rotate .5s infinite linear;
}
@keyframes rotate {
    to {transform: rotate(360deg)}
}

.animate-fade-in {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from{ opacity: 0;}
  to { opacity: 1;}
}