/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.styled-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.styled-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
.styled-scrollbar::-webkit-scrollbar-thumb {
  background: #BCC0C4; 
  border-radius: 10px;
  width: 5px;
}

/* Handle on hover */
.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background:rgb(133, 126, 126)
}


/* show tooltip on any element with tooltip attribute */
[tooltip], [tooltiptop], [tooltipright] {
  position: relative;
  z-index: 10;
}

[tooltip]::before, [tooltiptop]::before {
  content: attr(tooltip);
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  font-size: 15px;
  background-color: rgba(0, 0, 0, .8);
  width: max-content;
  color: white;
  padding: 1px 8px;
  border-radius: 6px;
  text-transform: capitalize;
  display: none;
}

[tooltiptop]::before {
  content: attr(tooltiptop);
  top: calc(-100% - 15px);
}

[tooltipright]::before {
  content: attr(tooltipright);
  position: absolute;
  top: calc(100% + 8px);
  right: 2px;
  opacity: 0;
  font-size: 15px;
  background-color: rgba(0, 0, 0, .8);
  width: max-content;
  color: white;
  padding: 1px 8px;
  border-radius: 6px;
  text-transform: capitalize;
  display: none;
}



[tooltip]::after, [tooltiptop]::after, [tooltipright]::after {
  position: absolute;
  top: calc(100% - 2px);
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 0);
  content: '';
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, .8);
  border-right: 5px solid transparent;
  display: none;
}

[tooltiptop]::after {
  top: calc(-100% + 18px);
  border-bottom: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, .8);
}


[tooltip]:hover::before, [tooltip]:hover::after, [tooltiptop]:hover::before, [tooltiptop]:hover::after, [tooltipright]:hover::after {
  transform: translate(-50%, 0);
  opacity: 1;
  display: block;
}
[tooltipright]:hover::before {
  opacity: 1;
  display: block;
}

[tooltip]:hover::before, [tooltiptop]:hover::before, [tooltipright]:hover::before {
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, .5);
}



/* transparent border bottom */
.border-b-transparent {
  border-bottom: solid transparent;
}

/* spin 360 deg */

.spin-360 {
    transform: rotate(0deg);
    animation: rotate .5s infinite linear;
}


@keyframes rotate {
    to {transform: rotate(360deg)}
}
